.item{
    
    background-color: blueviolet;
    text-align: center;
    border: 2px solid black;

}

.grid{
    display: grid;

  //  grid-template-rows:100px 300px;
  //  grid-template-columns: 150px 200px 200px;

  /****shorthand****/

  grid-template: 100px 200px
        / 150px auto 100px;

       margin-bottom: 20px;
}

/*
div :nth-child(2){

    grid-row: 2 / 3 ;
    grid-column: 1 / 4;

   
}
div :nth-child(1){

    grid-row: 1 / 4 ;
    grid-column: 1 / 2;

}*/


.grid1{
    display: grid;

    grid-template: 100px 300px 150px
    / auto 200px;

    grid-gap:10px 10px;
    margin-bottom: 20px;
}

.grid1 > div:nth-child(1){
   grid-column: auto /span 2;
}

.grid1 > div:nth-child(2){
    grid-column: auto /span ;
 }

.grid1 > div:nth-child(4){
    grid-column: auto /span 2;
 }



 .grid2{
     display: grid;
     grid-template: repeat(5,100px) / 75px auto auto;
     grid-gap:5px 5px;
     grid-template-areas: 
     
            "A B C"
            "D B C"
            "E B C"
            "F B C"
            ". B C";
 }  


 .grid2 div:nth-child(1){
     grid-area: A;
   padding-bottom: 20px;
 }
 .grid2 div:nth-child(2){
    grid-area: B;
}

.grid2 div:nth-child(3){
    grid-area: C;
}

.grid2 div:nth-child(4){
    grid-area: D;
}

.grid2 div:nth-child(5){
    grid-area: E;
}

.grid2 div:nth-child(6){
    grid-area: F;
}

.grid3{
    display: grid;
    grid-template: 100px  minmax(100px,250px) /200px minmax(100px ,150px) 200px;
    grid-gap:10px 10px;
}


.grid4{
    display: grid;
    grid-template: repeat(6,100px) /
        repeat(12 ,1fr);
        grid-gap: 10px;
}


.grid5{
    display: grid;
    width: 540px;
    grid-template: 100px 100px /
        repeat(auto-fit,minmax(100px,1fr));
    grid-gap: 10px;
}


.grid6{
    display:grid;
   
    grid-gap: 10px;
    height: 300px;
    border: 2px solid black;
    justify-items: end;
    align-items: center;
    
   grid-template: 100px 100px / 25% 25% 25%;
    
}


.grid7{
    display: grid;
    grid-template: 100px 100px / repeat(3,25%);
    border: 2px solid black;
}

.grid7  div:nth-child(1){
    border: 2px solid black;
    justify-self: center;
    align-self: center;
}
.grid7  div:nth-child(2){
    border: 2px solid black;
    justify-self: end;
}
.grid7  div:nth-child(3){
    border: 2px solid black;
    align-self: center;
}
.grid7  div:nth-child(4){
    border: 2px solid black;
    align-self: start;
    justify-self: end;
}
.grid7  div:nth-child(5){
    border: 2px solid black;
    justify-self: center;
    align-self: end;

}
.grid7  div:nth-child(6){
    border: 2px solid black;
    justify-self: center;

}

.grid8{
    display: grid;
    width: 500px;
    height: 250px;
    border: 2px solid black;
    margin-top: 10px;
    
}


.grid8 div{
    width: 200px;
    height: 150px;
    justify-self: end;
    align-self: space-between;
}


.grid9{
    display: grid;
    grid:  70px /
            auto-flow 150px;
   
   grid-gap:10px;
}